<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shop.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.example.shop.goods.domain.Product" >
    <id column="id" property="id" />
    <result column="created_date" property="createdDate" />
    <result column="last_modified_date" property="lastModifiedDate" />
    <result column="version" property="version" />
    <result column="catalog_id" property="catalogId" />
    <result column="brand_id" property="brandId" />
    <result column="name" property="name" />
    <result column="keyword" property="keyword" />
    <result column="code" property="code" />
    <result column="image" property="image" />
    <result column="market_price" property="marketPrice" />
    <result column="base_price" property="basePrice" />
    <result column="mods" property="mods" />
    <result column="impressions" property="impressions" />
  </resultMap>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into `product` (created_date, last_modified_date, version, catalog_id, brand_id, 
      name, keyword, code, image, market_price, base_price, mods, 
      impressions)
    values (#{createdDate}, #{lastModifiedDate}, #{version}, #{catalogId}, #{brandId}, 
      #{name}, #{keyword}, #{code}, #{image}, #{marketPrice}, #{basePrice}, #{mods}, 
      #{impressions})
  </insert>
  <update id="updateByPrimaryKey" >
    update `product`
    set created_date = #{createdDate},
      last_modified_date = #{lastModifiedDate},
      version = #{version},
      catalog_id = #{catalogId},
      brand_id = #{brandId},
      name = #{name},
      keyword = #{keyword},
      code = #{code},
      image = #{image},
      market_price = #{marketPrice},
      base_price = #{basePrice},
      mods = #{mods},
      impressions = #{impressions}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select id, created_date, last_modified_date, version, catalog_id, brand_id, name, 
    keyword, code, image, market_price, base_price, mods, impressions
    from `product`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, created_date, last_modified_date, version, catalog_id, brand_id, name, 
    keyword, code, image, market_price, base_price, mods, impressions
    from `product`
  </select>
</mapper>